<template name="Home">
    <div class="container-fluid">
        <div class="row user-details">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-9">
            </div>
        </div>
        <div class="row chat-view">
        </div>
        <div class="row input-box">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter text..." />
                    <input type="submit" class="form-control btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</template>
