.user-details {
  height: 80px;
  color: #fff;
  background-color: #111;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-details .fa {
  font-size: 4em;
  cursor: pointer;
}

.user-details .fa:hover {
  color: #337ab7;
}

.user-details img {
  margin-top: 5px;
}

.user-details h1 {
  margin-top: 10px;
}

.chat-view {
  overflow: auto;
}

.input-box {
  padding: 10px 0;
  background-color: #111;
}

.input-box input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-box button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-box .col-xs-10 {
  padding-right: 0;
}

.input-box .col-xs-2 {
  padding-left: 0;
}

.input-box .fa {
  font-size: 1.5em;
}

.user-panel {
  background-color: #999;
}
